@charset "utf-8";

body {
    font-family: "MS Gothic", "Hiragino Kaku Gothic Pro";
}

select {
  -webkit-appearance: none;
  appearance: none;
  font-family: "MS UI Gothic", "Osaka-Mono";
}

input[type="text"]{
    font-family: "MS Mincho", "Hiragino Mincho Pro";
}

input[type="textarea"]{
    font-family: inherit;
}

#idtest{
    font-family: "MS Mincho", "Hiragino Mincho Pro";
}

.classtest{
    font-family: "MS Mincho", "Hiragino Mincho Pro";
}

/**
MS Gothic - Hiragino Kaku Gothic Pro
MS UI Gothic - Osaka-Mono
MS Mincho - Hiragino Mincho Pro

**/
